body {
    background-color: #000000;
    font-family: "Libre Franklin", sans-serif;
    width: 100%;
}

.background-image {
    background-image: url(../assets/images/audience.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #000000;
    padding: 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#logo:hover {
    filter: brightness(1.3);
    transition: 0.3s;
}

.container {
    background-color: #000000af;
    width: 90%;
    height: 400px;
    margin: auto;
}


#instructions {
    color: white;
    width: 400px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;

}

li {
    text-align: left;
}

.fa-solid {
    color: #FFFF00;
}

.answer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    border-radius: 5px;
    background-color: hsla(58, 100%, 67%, 1);
    margin: 20px auto;
    height: 50px;
    transition: 0.3s;
}

.answer-btn:hover {
    width: 75%;
    background-color: hsla(58, 90%, 67%, 0.9);
    transition: 0.3s;
}

button {
    cursor: pointer;
}



#question-counter {
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

#question {
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

.button-container {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#next-btn {
    background-color: #000000;
    font-size: 30px;
    color: #ffffff;
    border: 1px solid #FF0000;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-top: 15px;
}

#next-btn:hover {
    background-color: #fff957;
    color: black;
}

.hide {
    display: none;
}

.correct {
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    border-radius: 5px;
    margin: 20px auto;
    height: 50px;
    transition: 0.3s;
}

.incorrect {
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    border-radius: 5px;
    margin: 20px auto;
    height: 50px;
    transition: 0.3s;
}

.main-btn {
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 5px;
    text-transform: capitalize;
    text-shadow: #ffffff 1px 1px 0;
    margin-top: 15px;
    background-color: hsla(58, 100%, 67%, 1);
    transition: 1s;
}

.main-btn:hover {
    height: 60px;
    width: 220px;
    transition: 1s;
}

#results-container {
    color: white;
    width: 400px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;

}

p {
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}

/* Media Queries */

@media all and (max-width: 576px) {
    #logo {
        width: 120px;
    }

    li {
        font-size: 15px;
    }

    #instructions {
        padding-top: 20px;
        width: 90%;
    }

    #container {
        display: block;
        width: 80%;
    }

    #question {
        font-size: 25px;
    }

    #results-btn {
        margin-top: 10px;
    }

    #scores {
        font-size: 25px;
    }
}

.tick {
    color: green;
}